:root {
    --cor-primaria: #2A3D66;
    --cor-secundaria: #D4AF37;
    --acentuacao: #5B7DB1;
    --background: #F5F5F5;
    --cor-texto: #333333;
    --cor-branca: #FFFFFF;
    --cor-hover: #B5942D;
}